.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  margin-top: 1rem;
}

.App-form {
  padding: 2rem;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  margin: 0.5rem;
}

.App-formcontrol {
  display: flex !important;
  flex-direction: row !important;
}

.App-input {
  flex: 1;
}

.App-iconButton {
  flex: 0;
}