.message__card {
    padding: 0.1rem 1rem;
    margin: 1rem;
    width: fit-content;   
}

.message__card__user {
    margin-left: auto;
    text-align: right !important;
}

.message__user {
    background-color: rgb(16, 136, 235) !important;
}

.message__guest {
    background-color: rgb(247, 243, 243) !important;
}
