.message__card {
    padding: 0.1rem 1rem;
    margin: 1rem;
    width: fit-content;   
}

.message__card__user {
    margin-left: auto;
    text-align: right !important;
}

.message__user {
    background-color: blue !important;
}

.message__guest {
    background-color: darkgray !important;
}
